{% extends "home.html" %} 
{% load currency %}
{% block maincontent %}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <div id="headerbar">
        <h1 class="headerbar-title float-start">
          {{ client.client_name }}
        </h1>
        <div class="headerbar-item float-end mx-2">
          <a class="btn btn-sm btn-outline-primary" href="{% url 'invoices:create'%}">
            <i class="fa-solid fa-file-invoice-dollar"></i> Create Invoice</a>
            <button id="extractInvoiceBtn" class="btn btn-sm btn-outline-primary">
              <i class="fa-solid fa-file-pdf"></i> Extract Invoice</button>
          <a class="btn btn-sm btn-primary" href="{% url 'clients:update' client.pk%}">
            <i class="fa-solid fa-pen-to-square"></i> Edit</a>
          <a class="btn btn-sm btn-danger" hx-get="{% url 'clients:delete' client.pk %}" style="cursor:pointer"
          hx-target="#modals-here" hx-trigger="click"
          data-bs-toggle="modal" data-bs-target="#modals-here">
            <i class="fa-solid fa-trash"></i> Delete</a>
        </div>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="true">Details</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="invoices-tab" data-bs-toggle="tab" data-bs-target="#invoices" type="button" role="tab" aria-controls="invoices" aria-selected="false">Invoices</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="payments-tab" data-bs-toggle="tab" data-bs-target="#payments" type="button" role="tab" aria-controls="payments" aria-selected="false">Payments</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
            {% if messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {% for message in messages %}
                      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                  {% endfor %}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <h3>{{ client.client_name }}</h3>
                <p>{{ client.client_address|linebreaksbr }}</p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <table class="table table-bordered no-margin text-start">
                  <tr>
                    <th>
                      Currency
                    </th>
                    <td class="td-amount">
                      {{ client.client_currency }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Total Billed
                    </th>
                    <td class="td-amount">
                      {{ client_invoice_total|currency }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Total Paid
                    </th>
                    <th class="td-amount">
                      {{ client_invoice_paid|currency }}
                    </th>
                  </tr>
                  <tr>
                    <th>
                      Total Balance
                    </th>
                    <td class="td-amount">
                      {{ client_invoice_balance|currency }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                      Client Contact Information
                  </div>
                  <div class="card-body">
                    <table class="table table-bordered no-margin text-start">
                      <tr>
                        <th>
                          Phone
                        </th>
                        <td class="td-amount">
                          {{ client.client_phone }}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Fax
                        </th>
                        <td class="td-amount">
                          {{ client.client_fax }}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Mobile
                        </th>
                        <th class="td-amount">
                          {{ client.client_mobile }}
                        </th>
                      </tr>
                      <tr>
                        <th>
                          Email
                        </th>
                        <td class="td-amount">
                          {{ client.client_email }}
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Website
                        </th>
                        <td class="td-amount">
                          {{ client.client_web }}
                        </td>
                      </tr>
                    </table>
                    </div>
                </div>
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    Notes
                  </div>
                  <div class="card-body">
                    <div id="notes_list">
                      <!-- Notes will be displayed here -->
                    </div>
                    <input
                      type="hidden"
                      name="client_id"
                      id="client_id"
                      value="{{ client.client_id }}"
                    />
                    <div class="input-group">
                      <textarea
                        id="client_note"
                        class="form-control"
                        rows="2"
                        style="resize: none"
                      ></textarea>
                      <span
                        id="save_client_note"
                        class="input-group-addon btn btn-default"
                      >
                        Add Note
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="tab-pane fade" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">
          <!-- Content for the invoices tab goes here -->
          <div class="table-responsive">
            <table class="table table-hover table-striped">

                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Invoice Number</th>
                        <th>Client Name</th>
                        <th>Phone Number</th>
                        <th>Balance</th>
                        <th>Options</th>
                    </tr>
                </thead>

                <tbody>
                    {% for invoice in invoices %}
                    <tr>
                        {% if invoice.invoice_status == "1" %}
                        <td><span class="badge bg-danger">{{invoice.INVOICE_STATUSES.1}}</span></td>
                        {% elif invoice.invoice_status == "2" %}
                        <td><span class="badge bg-primary">{{invoice.INVOICE_STATUSES.2}}</span></td>
                        {% elif invoice.invoice_status == "3" %}
                        <td><span class="badge bg-primary">{{invoice.INVOICE_STATUSES.3}}</span></td>
                        {% elif invoice.invoice_status == "4" %}
                        <td><span class="badge bg-success">{{invoice.INVOICE_STATUSES.4}}</span></td>
                        {% elif invoice.invoice_status == "5" %}
                        <td><span class="badge bg-secondary">{{invoice.INVOICE_STATUSES.5}}</span></td>
                        {% else %}
                        <td><span class="badge bg-secondary">{{invoice.INVOICE_STATUSES.6}}</span></td>
                        {% endif %}
                        <td><a class="link-primary text-decoration-none" href="{% url 'invoices:detail' invoice.pk %}">{{ invoice.invoice_number }}</a></td>
                        <td>{{ invoice.client_id }}</td>
                        <td>{{ invoice.invoice_phone }}</td>
                        <td>{{ invoice.invoice_total }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog"></i> Options
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="{% url 'invoices:update' invoice.pk %}"><i class="fa fa-edit"></i> Edit</a></li>
                                  <li><a class="dropdown-item" href="{% url 'invoices:clone' invoice.pk %}"><i class="fa fa-clone"></i> Clone</a></li>
                                  <li><a class="dropdown-item" href="{% url 'invoices:detailpdf' invoice.pk %}" target="_blank"><i class="fa fa-file-pdf"></i> Create PDF</a></li>
                                  <li>
                                    <a class="dropdown-item" hx-get="{% url 'invoices:delete' invoice.pk %}" style="cursor:pointer"
                                    hx-target="#modals-here" hx-trigger="click"
                                    data-bs-toggle="modal" data-bs-target="#modals-here"><i class="fa fa-trash"></i> Delete</a>
                                  </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="payments" role="tabpanel" aria-labelledby="payments-tab">
          <!-- Content for the payments tab goes here -->
        </div>
      </div>
  </main>
</div>

<!-- Modal structure -->
<div class="modal fade" id="extractInvoiceModal" tabindex="-1" aria-labelledby="extractInvoiceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="extractInvoiceModalLabel">Extract Invoice Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="extractInvoiceModalBody">
        <!-- Form will be loaded here -->
      </div>
    </div>
  </div>
</div>

<div id="modals-here"
  class="modal modal-blur fade"
  style="display: none"
  aria-hidden="false"
  tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content"></div>
  </div>
</div>
{% endblock maincontent %}

{% block extrascripts %}
<script>
  document.getElementById('extractInvoiceBtn').addEventListener('click', function() {
    fetch("{% url 'clients:extract_invoice' %}")  // URL to the view that renders the form
      .then(response => response.text())
      .then(html => {
        document.getElementById('extractInvoiceModalBody').innerHTML = html;
        var modal = new bootstrap.Modal(document.getElementById('extractInvoiceModal'));
        modal.show();

        // Get the client ID from the URL
        const url = window.location.href;
        const clientId = url.split('/').pop(); // Get the last part of the URL
        
        // Set the value of the hidden field
        document.getElementById('client_id').value = clientId;
  
        // Handle form submission via AJAX
        document.getElementById('invoiceExtractorForm').addEventListener('submit', function(event) {
          event.preventDefault();
          const form = event.target;
          const formData = new FormData(form);
          const fileInput = document.getElementById('id_file');
          const file = fileInput.files[0]; // Get the first file selected by the user
          formData.append('id_file', file); // Append the file data to the FormData object
          formData.append('client_id', client_id.value);
          console.log(formData);
          fetch(form.action, {
            method: 'POST',
            body: formData,
          })
          .then(response => {
            return response.json();
          })
          .then(data => {
            if (data.success) {
              alert('Invoice extracted successfully. Invoice ID: ' + data.data.invoice_number);
              modal.hide();
            } else {
              alert('Error: ' + (data.error || 'Unknown error'));
            }
          })
          .catch(error => console.error('Error:', error));
        });
      })
      .catch(error => console.error('Error loading form:', error));
  });
</script>
{% endblock extrascripts %}

