{% extends "home.html" %}

{% block maincontent %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div id="headerbar">
                <h1 class="headerbar-title">{{ title }}</h1>

                <div class="headerbar-item float-end mx-2">
                    <a class="btn btn-sm btn-primary" href="{% url 'clients:create' %}">
                        <i class="fa fa-plus"></i>New</a>
                </div>

                <div class="headerbar-item float-end mx-2">
                    <div class="model-pager btn-group btn-group-sm">
                        <a class="btn btn-default disabled" href="#" title="First"><i class="fa fa-fast-backward no-margin"></i></a>
                        <a class="btn btn-default disabled" href="#" title="Prev"><i class="fa fa-backward no-margin"></i></a>
                        <a class="btn btn-default disabled" href="#" title="Next"><i class="fa fa-forward no-margin"></i></a>
                        <a class="btn btn-default disabled" href="#" title="Last"><i class="fa fa-fast-forward no-margin"></i></a>
                    </div>    
                </div>

                <div class="headerbar-item float-end mx-2">
                    <div class="btn-group btn-group-sm index-options">
                        <a href="{% url 'clients:list' active='active' %}" class="btn btn-outline-primary {% if active == "active" %}active{% endif %}">Active</a>
                        <a href="{% url 'clients:list' active='inactive' %}" class="btn btn-outline-primary {% if active == "inactive" %}active{% endif %}">Inactive</a>
                        <a href="{% url 'clients:list' %}" class="btn btn-outline-primary {% if not active %}active{% endif %}">All</a>
                    </div>
                </div>

            </div>

            <div id="content" class="table-content">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">

                        <thead>
                            <tr>
                                <th>Active</th>
                                <th>Client Name</th>
                                <th>Email Address</th>
                                <th>Phone Number</th>
                                <th>Balance</th>
                                <th>Options</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for client in clients %}
                            <tr>
                                {% if client.client_active %}
                                <td><span class="badge bg-success">Active</span></td>
                                {% else %}
                                <td><span class="badge bg-danger">Inactive</span></td>
                                {% endif %}
                                <td><a class="link-primary text-decoration-none" href="{% url 'clients:detail' client.pk %}">{{ client.client_name }}</a></td>
                                <td>{{ client.client_email }}</td>
                                <td>{{ client.client_phone }}</td>
                                <td>$100.00</td>
                                {% comment %} {{ client.client_invoice_balance }} {% endcomment %}
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-cog"></i> Options
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <li><a class="dropdown-item" href="{% url 'clients:update' client.pk %}"><i class="fa fa-edit"></i> Edit</a></li>
                                          <li>
                                            <a class="dropdown-item" hx-get="{% url 'clients:delete' client.pk %}" style="cursor:pointer"
                                            hx-target="#modals-here" hx-trigger="click"
                                            data-bs-toggle="modal" data-bs-target="#modals-here"><i class="fa fa-trash"></i> Delete</a>
                                          </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <div id="modals-here"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
</div>
{% endblock maincontent %}