{% extends "home.html" %}
{% load static %}

{% block maincontent %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div id="headerbar">
                {% comment %} <h1 class="headerbar-title">{{ title }}</h1> {% endcomment %}

                <div class="headerbar-item float-end mx-2">
                    <a class="btn btn-sm btn-success" href="{% url 'invoices:detailpdf' invoice.pk%}" target="_blank">
                        <i class="fa fa-file-pdf"></i> PDF</a>
                </div>

                <div class="headerbar-item float-end mx-2">
                    <a class="btn btn-sm btn-primary" href="{% url 'invoices:update' invoice.pk%}">
                        <i class="fa fa-edit"></i> Edit</a>
                </div>

                {% comment %} <div class="headerbar-item float-end mx-2">
                    <a class="btn btn-sm btn-primary" href="{% url 'invoices:create' %}">
                        <i class="fa fa-plus"></i> New</a>
                </div> {% endcomment %}

                <div class="headerbar-item float-end mx-2">
                    <a class="btn btn-sm btn-primary" href="{% url 'invoices:clone' invoice.pk %}">
                        <i class="fa fa-clone"></i> Clone</a>
                </div>
            </div>
            <div class="invoice-box">
            <table style="padding: 60px">
                <thead>
                    <tr>
                        <td colspan="99">
                            <table style="margin-bottom: 20px"><tr>
                                <td style="font-weight: bold; font-size: 32px; text-align: left; color: #00B0F0">{{ title|upper }}</td>
                                <td class="text-end" style="text-align: right">
                                    <img src="{% static 'AM_logo.svg' %}" 
                                    style="width: 100%; max-width: 200px" />
                                </td>
                            </tr></table>
                            
                            <table style="margin-bottom: 20px"><tr>
                                {% if invoice.client_id.client_address != null %}
                                <td style="width: 1px; white-space: nowrap"; colspan=50>
                                    <div style="font-weight: bold; color: #EA592C"> Ahmed Manzoor </div>
                                    <div>1550 Como Park Blvd<br/>
                                         Depew NY 14043<br/>
                                         Phone: +1 984 349 2567<br/>
                                         ahmedmanzooor@gmail.com</div>
                                    {% for field in business.custom_fields %}
                                    <div>{{ field.label }} {{ field.text }}</div>
                                    {% endfor %}
                                    <div></br></div>
                                </td></tr>
                                {% endif %}
                                <tr><td>
                                    <div style="font-weight: bold">To:</div>
                                    <div style="font-weight: bold; color: #22B960">{{ invoice.client_id.client_name }}</div>
                                    <div>{{ invoice.client_id.client_address|linebreaks }}</div>
                                    <div>{{ recipient.identifier }}</div>
                                </td>
                                <td class="text-end">
                                    <div style="font-weight: bold"> Invoice date</div>
                                    <div style="margin-bottom: 10px">{{ invoice.invoice_issue_date|date:"m-d-Y" }}</div>
                                    <div style="font-weight: bold"> Invoice number</div>
                                    <div style="margin-bottom: 10px">{{ invoice.invoice_number }}</div>
                                    {% for invoiceitem in invoiceitems %}
                                    {{ invoiceitem.item_description.label_tag }}<br />
                                    {% endfor %}
                                </td>
                            </tr></table>
            
            
                        </td>
                    </tr>
                    <tr>
                        {% for column in table.columns %}
                        <td class="text-{{ column.align }} border-start{% if forloop.last == true %} border-end{% endif %}" style="font-weight: bold; padding: 5px 10px; border-bottom-width: 1px; border-top-width: 1px{% if column.nowrap %}; width: 80px{% endif %}">{{ column.label }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td class="text-start border" style="padding: 5px 10px; white-space: nowrap; width: 300px; font-weight: bold">Description</td>
                        <td class="text-center border" style="padding: 5px 10px; white-space: nowrap; width: 80px; font-weight: bold">Quantity</td>
                        <td class="text-center border" style="padding: 5px 10px; white-space: nowrap; width: 80px; font-weight: bold">Unit Price</td>
                        <td class="text-end border" style="padding: 5px 10px; white-space: nowrap; width: 80px; font-weight: bold">Total in {{ invoice.client_id.client_currency }}</td>
                    </tr>
                    {% for invoiceitem in invoiceitems %}
                    <tr>
                        <td class="text-start border" style="padding: 5px 10px; white-space: width: 300px">{{ invoiceitem.item_description|linebreaks }}</td>
                        <td class="text-center align-middle border" style="padding: 5px 10px; white-space: nowrap; width: 80px">{{ invoiceitem.item_quantity }}</td>
                        <td class="text-center align-middle border" style="padding: 5px 10px; white-space: nowrap; width: 80px">{{ invoiceitem.item_price }}</td>
                        <td class="text-end align-middle border" style="padding: 5px 10px; white-space: nowrap; width: 80px">{{ invoiceitem.item_total }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-start" style="padding: 5px 10px; white-space: nowrap; width: 300px"></td>
                        <td class="text-center align-middle" style="padding: 5px 10px; white-space: nowrap; width: 80px"></td>
                        <td class="text-center align-middle" style="padding: 5px 10px; white-space: nowrap; width: 80px; font-weight: bold">Total in {{ invoice.client_id.client_currency }}</td>
                        <td class="text-end align-middle border" style="padding: 5px 10px; white-space: nowrap; width: 80px">{{ invoice.invoice_total }}</td>
                    </tr>
                    <tr>
                        <td colspan="99">
                            <div style="font-weight: bold; padding-top: 20px">Note</div>
                            <div>To be paid into my Paypal a/c .<br />
                                Paypal email id: ahmedmanzooor56@gmail.com<br />
                                Thank you for your business!</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </main>
    <div id="modals-here"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
</div>
{% endblock maincontent %}